<h1>List of all actors</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>
<% @actors.each do |person| %>
  <tr>
    <td>
      <%= person.id %>
    </td>

    <td>
     <img src=<%= person.image %> style="width:250px">
    </td>

    <td>
      <%= person.name %>
    </td>

    <td>
      <%= person.dob %>
    </td>

    <td>
      <a href="/actors/<%= person.id %>">Show details</a>
    </td>
  </tr>
    <% end %>
</table>
